<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Sign up</h1>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit">Signup</button>
        </form>
        <p>
          Have an account?
          <a href="{% url 'login' %}">Login</a>
        </p>
      </div>
    </main>
  </body>
</html>
